<%- include("templates/encabezado") %>
<%- include("templates/menu") %>
<h1>NUEVO USUARIO</h1>
<form action="/nuevoUsuario" method="post" id="formulario">
    <div>
        <input type="text" name="nombre" id="nombre" placeholder="Nombre" autofocus>
        <span mensajeNombre></span>
    </div>
    <div>
        <input type="text" name="usuario" id="usuario" placeholder="Usuario">
        <span mensajeUsuario></span>
    </div>
    <div>
        <input type="text" name="password" id="password" placeholder="Password" autofocus>
        <span mensajePassword></span>
    </div>
    <div>
        <button type="submit">Guardar usuario</button>
    </div>
</form>
<%- include("templates/pie") %>